<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/dados"><span class="glyphicon glyphicon-user"></span> Dados dos Usuários</a>
      </li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://github.com/AndersonMerten/NodeJs-Server"><span class="glyphicon glyphicon-info-sign"></span> Desenvolvido por Anderson Merten e William Parlow</a>
      </li>
    </ul>
  </div>
</nav>
