<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<% for(var i=0; i < data.length; i++){ %>
    <ul>
    <% for (propriedade in data[i]) { %>
        <li> <%=propriedade %> : <%= data[i][propriedade]%> </li> 
    <% } %>
    </ul>
<% }%>



</div>

</body>
</html>
