<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Aplicação server-side de exemplo para Redes 2</h1>
    <p>Esta é uma aplicação desenvolvida em Node JS, simulando um servidor, que mantém, edita e adiciona novos clientes de uma loja, tudo em um arquivo JSON.</p>
    </div>
</div>
</body>
</html>
